@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Pacifico&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
    background-color: antiquewhite;
}

#logo {
    font-family: 'Pacifico';
    text-decoration: none;
    color: #202020;
    font-size: 30px;
}

.links a {
    text-decoration: none;
    color: #555;
    padding: 5px 10px;
    font-size: 18px;
}

nav button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #0bf9d5;
    color: #fff;
    box-shadow: 0 2px 15px #038f7a;
    cursor: pointer;
    transition: 0.7s;
}

nav button:hover {
    box-shadow: 0 0 15px #0bf9d2;
    transform: scale(1.1);
}